<div class="col-12">
    <h1 class="text-center">Your Dashboard</h1>
</div>
    <br>
<h2 class="md-4">Your Post</h2>
    {{#each posts}}
        <div class="post-container">
            <h2><a href="/post/{{id}}" class="text-title">{{title}}</a></h2>
                <p>Created by: {{user.username}} Date: {{format_date createdAt}}</p>
                    <a href="/updatepost/{{id}}" class="btn btn-dark">Update Post</a>
                        <button class="btn btn-dark delete-post" data-post-id="{{id}}">Delete</button>
        </div>
    {{/each}}
    <br>
<button class="btn btn-success"><a href="/newpost" style="text-decoration:none" class="text-white">+ New Post</a></button>